asn1crypto
beautifulsoup4
brlapi
chardet
colorama
command-not-found
configobj
cryptography
cupshelpers
defer
flask-multistatic
folium
holoviews
html5lib
httplib2
install
ipywidgets
jupyter-dash
jupyterlab
keras
keyring
keyrings.alt
louis
lxml
macaroonbakery
mako
nemo-emblems
netifaces
nodejs
numexpr
onboard
pam
pip-chill
pipreqs
protobuf
psutil
pycairo
pycrypto
pycups
pycurl
pygobject
pyicu
pyinotify
pymacaroons
pynacl
pyparted
pyrfc3339
python-apt
python-debian
python-levenshtein
python-xapp
python-xlib
pyxdg
rasterio
reportlab
seaborn
sessioninstaller
setproctitle
statsmodels
system-service
systemd-python
tables
tinycss
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unidecode
urllib3
voila
worldmap
xkit
